.aboutContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 2rem;
  height: auto;
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.imageSection h3 {
  font-size: 1.2rem;
  margin-right: 2rem;
}

[data-theme="light"] .imageSection h3 {
  color: black;
}

[data-theme="dark"] .imageSection h3 {
  color: white;
}

.imageSection span {
  color: #e0642f;
}

.img {
  border-radius: 9999px;
  margin-left: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
  font-weight: 200;
  font-size: 1.3rem;
}

[data-theme="light"] .title {
  color: black;
}

[data-theme="dark"] .title {
  color: white;
}

.title span {
  color: #e0642f;
  font-weight: bold;
}

.skillCardsSection {
  display: grid;
  grid-template-columns: 1fr;
}

.btnSection {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  background-color: #e0642f;
  border: none;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 1rem;
}

.btn span {
  margin-right: 0.5rem;
}

[data-theme="light"] .btn {
  color: #333;
}

[data-theme="dark"] .btn {
  color: white;
}

@media screen and (min-width: 675px) {
  .aboutContainer {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .imageSection {
    margin-top: 4rem;
  }

  .skillCardsSection {
    grid-template-columns: 1fr 1fr;
  }
}
