.blogListContainer {
  height: auto;
  padding: 2rem;
  animation: fadeIn ease 1s;
}

[data-theme="dark"] .blogListContainer {
  background-color: #121212;
}

[data-theme="light"] .blogListContainer {
  background-color: #fff;
}

.blogListHeader {
  margin-top: 0rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .blogListContainer {
    padding: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
