.blogListContainer {
  height: auto;
  padding: 2rem;
}

[data-theme="dark"] .blogListContainer {
  background-color: #121212;
}

[data-theme="light"] .blogListContainer {
  background-color: #fff;
}

.blogListHeader {
  margin-top: 0rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .blogListContainer {
    padding: 2rem;
  }

  .blogListHeader {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}
