.container {
  height: 100vh;
}

[data-theme="dark"] .container {
  background-color: #282c35;
  background-color: #121212;
}

[data-theme="light"] .container {
  background-color: white;
  background-color: #fff;
}
