.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

[data-theme="dark"] .header {
  background-color: #121212;
}

[data-theme="light"] .header {
  background-color: #fff;
}

.header p {
  font-size: 1rem;
  font-weight: bold;
}

[data-theme="light"] .header p {
  color: black !important;
}

[data-theme="dark"] .header p {
  color: white !important;
}

.header span {
  color: #e0642f;
}

.nav {
  display: none;
}

.mobileNav {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 15px;
  left: 15px;
  background-color: black;
  transform: translateY(100%);
  border: 1px solid lightgray;
  z-index: 1000;
  min-width: 110px;
}

.mobileNav a {
  border-bottom: 1px solid gray;
  padding: 4px 3px;
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
}

.hidden {
  display: none;
}

.menuToggle {
  margin-left: 5px;
  cursor: pointer;
}

.themeSwitch {
  cursor: pointer;
}

[data-theme="light"] .menuToggle {
  color: black !important;
}

[data-theme="dark"] .menuToggle {
  color: white !important;
}

@media screen and (min-width: 768px) {
  .header {
    margin: 0 auto;
    max-width: 90%;
  }

  .header p {
    font-size: 1.1rem;
  }

  .header span {
    color: #e0642f;
  }

  .menuToggle,
  .mobileNav,
  .themeSwitch {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }

  .nav a {
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 0.75rem;
  }

  [data-theme="light"] .nav a {
    color: black;
  }

  [data-theme="dark"] .nav a {
    color: white;
  }

  .nav a:hover {
    color: #e0642f;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 80%;
    padding: 2rem 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 70%;
  }
}
