.skillCard {
  display: flex;
  align-items: center;
  margin: 1.25rem 0.5rem;
}

.icon {
  color: #e0642f;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.skillDetails {
  margin-left: 0.5rem;
}
.skillDetails h3 {
  font-size: 1.2rem;
}

.skillDetails p {
  font-size: 0.85rem;
}

[data-theme="light"] .skillDetails h3,
[data-theme="light"] .skillDetails p {
  color: black;
}

[data-theme="dark"] .skillDetails h3,
[data-theme="dark"] .skillDetails p {
  color: white;
}
