.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: darkgray;
  cursor: pointer;
  transition: transform 300ms ease-out;
  margin: 0 5px;
}

.icon:hover {
  color: #e0642f;
  transform: scale(1.25);
}

[data-theme="light"] .icon {
  color: #333;
}

[data-theme="light"] .icon:hover {
  color: #e0642f;
}
