.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: darkgray;
  cursor: pointer;
  transition: transform 300ms ease-out;
  margin: 0 0.8rem;
}

.icon:hover,
.footerIcon:hover {
  color: #e0642f;
  transform: scale(1.25);
}

[data-theme="light"] .icon,
[data-theme="light"] .footerIcon {
  color: #333;
}

[data-theme="light"] .icon:hover,
[data-theme="light"] .footerIcon:hover {
  color: #e0642f;
}

.footerIcon {
  font-size: 1rem;
  color: darkgray;
  cursor: pointer;
  transition: transform 300ms ease-out;
  margin: 0 0.4rem;
}
