.themeIcon {
  font-size: 1.2rem;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px black);
  transform: translateY(1px);
  margin-left: 0.75rem;
}

[data-theme="light"] .themeIcon {
  color: #f7b217;
}
